/* Desktop only 1440 px */

@media only screen and (min-width: 900px) {
    .navbar {
        padding-left: 100px;
        padding-right: 100px;
        height: 50px;
        align-items: center;
    }

    .navbar h3 {
        font-size: 20px;
    }

    .navbar p {
        font-size: 14px;
    }

    .search-and-filter {
        margin: 20px 70px;
        display: flex;
        justify-content: space-between;
    }

    .search-bar {
        width: 500px;
    }

    .country-list {
        margin-left: 70px;
        margin-right: 70px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 70px;
    }

    .country-container {
        width: 260px;
        height: 400px;
    }

    .country-container img {
        height: 160px;
    }

    /* Detail page */

    .country-detail {
        margin-top: 40px;
        margin-left: 70px;
    }

    .flag-and-text {
        display: flex;
        align-items: center;
        gap: 80px;
    }

    .flag-and-text img {
        width: 40%;
    }

    .flag-and-text h1 {
        font-size: 30px;
    }

    .border-title {
        margin-top: 40px;
    }

  }